a1 {
	color: lightskyblue;
}

.noticias div h3 {
	color: lightsteelblue;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: #000000;
	color: #ffffff;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23790606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
}
a {
	color: #ffffff;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	margin: auto;
	width: 90%;
}
/* navegation */
.nav-main {
	font-size: 21px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px 0;
}

.nav-brand {
	width: 100px;
	height: 80px;
}

/* nav left */

.nav-main ul li {
	padding: 10px;
}

.nav-main ul li a:hover {
	border-bottom: 3px solid lightblue;
}

.nav-main ul {
	display: flex;
}

.nav-main ul li {
padding: 10px;
}

.nav-main ul.nav-menu {
	flex: 1;
	padding: 20px;
}

hr {
	margin: 10px 0;
}

.showcase {
	width: 100%;
	height: 550px;
	background: url(https://i.pinimg.com/originals/fc/21/16/fc2116fb21de12a62d4b36c31bbb1e6f.gif) no-repeat center center/cover;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.buton {
	cursor: pointer;
	display: inline-block;
	border: 0;
	font-weight: bold;
	padding: 10px 20px;
	background: #262626;
	color: #ffffff;
	font-size: 15px;
	border: 1px solid #fff;
	margin: 10px 0;
}

.buton:hover {
	opacity: .7;
}
.showcase h2 p {
	margin-bottom: 10px;
}

.noticias {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 25px;
	margin: 10px 0;
}

.noticias img {
	width: 100%;
	height: 180px;
}

.noticias h3 {
	font-size: 20px;
	margin: 10px 0;
}

.noticias a {
	padding: 10px 0;
	color: lightblue;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}

.noticias a:hover {
	padding: 10px 0;
	text-decoration: underline;

}

.showcase p {
	font-size: 20px;
}

.bannner {
	width: 90%;
	height: 350px;
	background: url(ban2.jpg) no-repeat center center/cover;
	margin: 40px;
}

.bannner div h2 {
	color: black;
	margin: 10px 0 20px 0;
}

.bannner div p {
	color: black;
	margin: 10px 0 20px 0;
}

.bannner div a {
	color: black;
}

.bannner div a:hover {
	opacity: .7;
	color: lightblue;
}

.bannner .contenido {
	width: 48%;
	padding: 90px 0 0 30px;
}

.redes{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

.links {
	display: flex;
	text-align: center;
	justify-content: center;
}

.links a {
	margin: 0 30px;
}

@media (max-width: 700px) {
	.nav-main ul .nav-menu {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #2f3640;
		height: 100%;
		padding: 30px;
		opacity: .9;
		transform: translate(-20px);
	}

	.nav-main ul.nav-menu li {
		padding: 20px;
		border-bottom: #ccc solid 1px;
		font-size: 14px;
	}

	.noticias {
		grid-template-columns: repeat(2, 1fr);
	}
	.bannner .contenido {
		width: 80%;

	}
}